<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <h1>
        6035512059
    </h1>
    <%=foo%>
        <!-- <ul>
            <% fruits.forEach(function(fruit){ %>
                <li>
                    <%= fruit %>
                </li>
                <% });<%
        </ul> -->
        <ul>
            <% fruit.map((item)=>{%>
                <li>
                    <%=item%>
                </li>
                <%})%>
        </ul>



</body>

</html>